
.container {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    background: rgb(250, 250, 250);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* รายการคำสั่งซื้อ */
.orders-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    padding: 0 20px;
}

.order-card {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(138, 157, 175, 0.2);  
    border-left: 6px solid #007bff;
    padding: 20px 60px;
    align-items: center;
    margin: 5px;
}

.order-card h3 {
    margin: 0;
    font-size: 22px;
    color: #007bff;
}

.order-card p {
    margin: 8px 0;
    font-size: 18px;
    color: #555;
}

.order-card a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.order-card a:hover {
    text-decoration: underline;
}

.status {
    padding-right: 50px;
}