
/* Tables */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Links */
a {
    text-decoration: none;
    color: #1a73e8;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    font-size: 1em;
}

.btn:hover {
    background-color: #1558b0;
}

/* Add Button */
.create-btn {
    text-decoration: none; /* ลบขีดเส้นใต้ */
    background: #28a745;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
}

.create-btn:hover {
    text-decoration: none; /* ลบขีดเส้นใต้ */
    background: #229641;
    color: white;
    transform: scale(1.02);
}
/* Image Styling */
img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

/* Additional Padding for Bottom */
.content-bottom-space {
    padding-bottom: 40px;
}
