<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../../css/admin/style.css">
</head>

<body>

    <header>
        Admin Dashboard
    </header>

    <nav>
        <a href="/admin/category">Categories</a>
        <a href="/admin/brand">Brands</a>
        <a href="/admin/product">Products</a>
        <a href="/admin/customer">Customers</a>
        <a href="/admin/edit">Admin Edit</a>

        <form action="/logout" method="POST" class="logout-form">
            <button class="logout-btn" onclick="alert('คุณได้ออกจากระบบแล้ว')" type="submit">ออกจากระบบ</button>
        </form>
    </nav>

    <div class="content">
        <div class="adminInfo">
            <h3>Welcome, <%= user.username %>!</h3>
            <p>Email: <%= user.email %></p>
        </div>
    </div>

</body>

</html>