<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Brand</title>
    <link rel="stylesheet" href="editBrand.css">
</head>

<body>
    <div class="box">
        <header>
            Admin Dashboard
        </header>
        <nav>
            <a href="/admin/edit">จัดการผู้ดูแล</a>
            <a href="/admin/customer">ข้อมูลลูกค้า</a>
            <a href="/admin/product">รายการสินค้า</a>
            <a href="/admin/category">หมวดหมู่สินค้า</a>
            <a href="/admin/brand">แบรนด์</a>
        </nav>
        <div class="content">
            <h2>Edit Brand</h2>
            <form method="post" class="form-container">
                <input type="text" name="brand" placeholder="Brand Name" required>
                <button type="submit" class="btn">แก้ไข</button>
            </form>
        </div>
    </div>

</body>

</html>