<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="editBrand.css">
</head>

<body>
    <header>
        Admin Dashboard
    </header>
    <nav>
        <a href="/admin/edit">จัดการผู้ดูแล</a>
        <a href="/admin/customer">ข้อมูลลูกค้า</a>
        <a href="/admin/product">รายการสินค้า</a>
        <a href="/admin/category">หมวดหมู่สินค้า</a>
        <a href="/admin/brand">แบรนด์</a>
    </nav>
    <div class="box">
        <h2>Edit Product</h2>
        <form method="post" class="form-container">
            <label>Image</label>
            <input type="file" name="product_image" accept="image/*">

            <label>Brands</label>
            <select name="brand">
                <option value="intel">Intel</option>
                <option value="amd">AMD</option>
                <option value="nvidia">NVIDIA</option>
            </select>

            <label>Product Name</label>
            <input type="text" name="product_name" placeholder="Enter Product Name" required>

            <label>Price</label>
            <input type="number" name="price" placeholder="Enter Price" required>

            <label>Quantity</label>
            <input type="number" name="quantity" placeholder="Enter Quantity" required>

            <button type="submit" class="btn">Update Product</button>
        </form>
    </div>
</body>

</html>