<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Brand</title>
    <link rel="stylesheet" href="../../css/admin/style.css">
</head>

<body>
    <header>
        Admin Dashboard
    </header>

    <nav>
        <a href="/admin/manage">จัดการผู้ดูแล</a>
        <a href="/admin/customer">ข้อมูลลูกค้า</a>
        <a href="/admin/product">รายการสินค้า</a>
        <a href="/admin/category">หมวดหมู่สินค้า</a>
        <a href="/admin/brand">แบรนด์</a>

        <form action="/logout" method="POST" class="logout-form">
            <button class="logout-btn" onclick="alert('คุณได้ออกจากระบบแล้ว')" type="submit">ออกจากระบบ</button>
        </form>
    </nav>

    <div class="content">
        <h1>Add Brands</h1>


        <form action="/addBrand" method="POST">
            <input type="text" name="name" placeholder="Brand Name" minlength="1" required pattern="[A-Za-z\s]+"
                title="Only letters and spaces are allowed">
            <button type="submit" class="btn">Add</button>
        </form>

    </div>

</body>

</html>