<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Brand</title>
    <link rel="stylesheet" href="../../css/admin/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        Admin Dashboard
    </header>

    <nav>
        <a href="/admin/edit">จัดการผู้ดูแล</a>
        <a href="/admin/customer">ข้อมูลลูกค้า</a>
        <a href="/admin/product">รายการสินค้า</a>
        <a href="/admin/category">หมวดหมู่สินค้า</a>
        <a href="/admin/brand">แบรนด์</a>

        <form action="/logout" method="POST" class="logout-form">
            <button class="logout-btn" onclick="alert('คุณได้ออกจากระบบแล้ว')" type="submit">ออกจากระบบ</button>
        </form>
    </nav>

    <div class="content">
        <h1>Add Product</h1>

        <form action="/addProduct" method="POST" enctype="multipart/form-data">

            <div class="input-group">
                <label for="name">Product Name</label>
                <input type="text" id="name" name="name" required placeholder="กรอกชื่อสินค้า"
                    pattern="[A-Za-zก-๙0-9\s]{3,100}"
                    title="กรอกชื่อสินค้า (3-100 ตัวอักษร) ใช้ได้ทั้งภาษาอังกฤษ, ไทย, ตัวเลข และเว้นวรรค">
            </div>

            <div class="input-group">
                <label for="brand">Brand</label>
                <select id="brand" name="brand_ID" required class="select-search">
                    
                    <option value="">เลือกแบรนด์</option>

                    <% brand.forEach(brand=> { %>
                        <option value="<%= brand.brand_ID %>">
                            <%= brand.name %>
                        </option>
                    <% }) %>
                    
                </select>
            </div>

            <div class="input-group">
                <label for="category">Category</label>
                <select id="category" name="category_ID" required class="select-search">
                    
                    <option value="">เลือกหมวดหมู่</option>

                    <% category.forEach(category=> { %>
                        <option value="<%= category.category_ID %>">
                            <%= category.name %>
                        </option>
                    <% }) %>

                </select>
            </div>

            <div class="input-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="unitPrice" required placeholder="ระบุราคา" min="1" max="1000000"
                    title="กรอกราคาสินค้าระหว่าง 1-1,000,000">
            </div>

            <div class="input-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="stockQty" required placeholder="ระบุจำนวนสินค้า" min="1"
                    max="1000" title="ระบุจำนวนสินค้าระหว่าง 1-1000">
            </div>

            <div class="input-group">
                <label for="img">Product Image</label>
                <input type="file" id="img" name="img" required accept="image/jpeg, image/png">
            </div>

            <div class="input-group">
                <label for="detail">Product Detail</label>
                <textarea id="detail" name="detail" required placeholder="กรอกรายละเอียดสินค้า" rows="4" maxlength="500"
                    title="กรอกรายละเอียดสินค้า ไม่เกิน 500 ตัวอักษร"></textarea>
            </div>

            <button type="submit" class="btn">Add Product</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.select-search').select2({
                placeholder: "ค้นหาหรือเลือก",
                allowClear: true
            });
        });
    </script>

</body>

</html>