<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i< products.length; i++) { %>
            <tr>
                <td><%= products[i].name %></td>
                 <% for(var k=0; k< category.length; k++) { %>
                    <% if(category[k].category_ID == products[i].category_ID) { %>
                        <td><%= category[k].name %></td>
                    <% } %>
                <% } %>
            </tr>
        </tbody>
        <% } %>
    </table>
</body>
</html>